@import 'sass-flex-mixins/dist/sass-flex-mixins';

.wrapper {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  @include flexible();

  .editor, .bottom {
    @include flexible-item();
    margin: 0;
    padding: 0;
  }
  .bottom{
    height: 328px;
    width: 100%;
  }
}