div
  //- | {{dt}}
  //- div(style="display:inline-block; min-height:290px;")
  //-   datepicker.well.well-sm(ng-model="dt" show-weeks="false")

  
  form.form-inline(role="form")
    div.form-group.people
      label.control-label People
      br
      input.form-control(ng-model="filteredPeople", type="text", name="Users" placeholder="Filter by people")
    
    div.form-group.tags
      label.control-label #Tags
      br
      input.form-control(ng-model="filteredTags", type="text", name="Tags" placeholder="Filter by tags")
    
    div.form-group.dates
      label.control-label
        | Date range
        i.fa.fa-calendar(style="margin-left:5px")
        i.fa.fa-arrows-h
        i.fa.fa-calendar
      br
      input.form-control(type="text" ng-model="filteredFromDate" placeholder="From" 
        autoclose = "{{true}}" dateFormat="{{'d MMMM yyyy'}}" bs-datepicker="")
      input.form-control(type="text" ng-model="filteredUntilDate" data-min-date="{{filteredFromDate}}"
       placeholder="Until" autoclose = "{{true}}" dateFormat="mediumDate" bs-datepicker="")

    //- div.row
    //-   div.col-md-6
    //-     p.input-group
    //-       input.form-control(datepicker-popup="dd-MMMM-yyyy" type="text" ng-model="filteredFromDate" placeholder="From"
    //-         is-open="fromOpened" datepicker-options="dateOptions" show-button-bar="{{true}}")
    //-       span.input-group-btn
    //-         button.btn.btn-default(type="button", ng-click="openFrom($event)")
    //-           i.glyphicon.glyphicon-calendar
    //- div.row
    //-   div.col-md-6
    //-     p.input-group
    //-       input.form-control(datepicker-popup="{{'shortDate'}}" type="text" ng-model="filteredUntilDate" placeholder="Until"
    //-         is-open="untilOpened" datepicker-options="dateOptions" show-button-bar="{{true}}")
    //-       span.input-group-btn
    //-         button.btn.btn-default(type="button", ng-click="openUntil($event)")
    //-           i.glyphicon.glyphicon-calendar
      
  div
    .stock(gw-stock="cumulativeLines || []")
