.gw-balance {
  svg {
    text {
      font-size: 13px;
      fill: #444;
      font-weight: bold;

      &.invert {
        fill: #fff;
      }
    }

    .bar {
      &.balance {
        fill: LightSlateGray;
      }

      &.given {
        fill: MediumSeaGreen;
      }

      &.spent {
        fill: Tomato;
      }
    }

    .Y-axis {
      stroke: #ccc;
    }
  }
}