$white : #fff;
$gray : #7e8287;
$lgray : #d9dbdb;
$black : #444;
$dgray : #232c32;
$red: #edc9d5;
body, html, document, body > div {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.container-fluid.gcontainer {
  padding: 0;
}

.opensans {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

.roboto {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.headline {
  padding-top: 120px;
  height: 100%;
  background: url(/images/headline.png) center center no-repeat;
  position: relative;

  .logo {
    margin-bottom: 10px;
    height: 120px;
  }

  .tagline {
    color: $white;
    font-size: 24px;
  }

  .use-application {
    margin-top: 200px;
    height: 60px;
    font-size: 18px;
  }

  .header-decoration {
    position: absolute;
    bottom: 0;
    height: 15px;
    width: 100%;
    .decoration-item {
      height: 15px;
      width: 16.66%;
      float: left;
      &.green {
        background-color: #c4ffdf;
      }
      &.red {
        background-color: $red;
      }
      &.blue {
        background-color: #c5ddff;
      }
      &.lblue {
        background-color: #dfffff;
      }
      &.yellow {
        background-color: #ffffca;
      }
      &.orange {
        background-color: #ffdeb0;
      }
    }
  }
}

.what {
  background: url(/images/overview.png) right 50px no-repeat;
  margin-bottom: 80px;
  .explanation {
    width: 550px;
    height: 640px;
    padding: 65px;
    color: $gray;

    .title {
      text-transform: lowercase;
      font-size: 38px;
      margin-bottom: 10px;
      color: $black;
    }
    .content {
      line-height: 35px;
      font-size: 17px;
    }
  }

  .features {
    width: 1040px;
    margin: 0 auto;
    margin-top: 40px;
    .feature-item {
      width: 24.9%;
      .icon {
        width: 125px;
        height: 125px;
        margin: 0 auto;
        margin-bottom: 10px;
      }
      .title {
        color: $black;
        font-size: 26px;
        margin-bottom: 10px;
        text-transform: lowercase;
      }
      .content {
        color: $gray;
        font-size: 15px;
      }
      &.simple .icon {
        background: url(/images/simple.png) center center no-repeat;
      }
      &.systematic .icon {
        background: url(/images/systematic.png) center center no-repeat;
      }
      &.funny .icon {
        background: url(/images/funny.png) center center no-repeat;
      }
      &.handy .icon {
        background: url(/images/handy.png) center center no-repeat;
      }
    }
    .border {
      float: left;
      height: 230px;
      background-color: $lgray;
      width: 1px;
      padding-top: 30px;
    }

  }
}

.use-cases {
  .header {
    height: 270px;
    .title {
      color: $black;
      font-size: 38px;
      text-transform: lowercase;
      margin-bottom: 10px;
      line-height: 41px;
    }
    .subtitle {
      color: $gray;
      font-size: 17px;
      line-height: 35px;
    }
  }
  .use-case-item {
    background-color: #deeae4;
    .caption {
      color: $black;
      height: 160px;
      width: 160px;
      padding-top: 64px;
      margin: 0 auto;
      margin-top: 135px;
      font-size: 24px;
      line-height: 30px;
      border-radius: 80px;
    }
    &.personalexpenses {
       background: url(/images/personalexpenses-bg.png) center center repeat-y;
      .image {
        background: url(/images/personalexpenses.png) center center no-repeat;
      }
      .caption {
        background-color: rgba(255, 222, 176, 0.9);
        padding-top: 51px;
      }
    }
    &.dinner {
      background: url(/images/dinner-bg.png) center center repeat-y;
      .image {
        background: url(/images/dinner.png) center center no-repeat;
      }
      .caption {
        background-color: rgba(237, 201, 213, 0.9);
      }
    }
    &.roommates {
      background: url(/images/roommates-bg.png) center center repeat-y;
      .caption {
        background-color: rgba(196, 255, 223, 0.9);
      }
      .image {
        background: url(/images/roommates.png) center center no-repeat;
      }
    }
    .image {
      background-color: #ccc;
      max-width: 290px;
      height: 433px;
    }
  }
  .code-editor {
    height: 100%;
  }
}

.footer {
  height: 20px;
  width: 100%;
  background-color: #ddd;
}
