.container-fluid.gcontainer.opensans#headline-container
  .headline.text-center
    .logo
    h4.tagline.opensans Lorem ipsum
    button.btn.btn-success.use-application(ui-sref="editor") Start using application
    .header-decoration
      .decoration-item.green
      .decoration-item.red
      .decoration-item.blue
      .decoration-item.lblue
      .decoration-item.yellow
      .decoration-item.orange
.container
  .what
    .explanation.opensans.row
      h3.title.roboto.text-center What
      .content Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
    .features.row
      .feature-item.text-center.col-lg-3.simple
        .icon
        .title.roboto Simple
        .content Quick and simple as an agenda
      .border
      .feature-item.text-center.col-lg-3.systematic
        .icon
        .title.roboto Systematic
        .content Categorize your expenses
      .border
      .feature-item.text-center.col-lg-3.funny
        .icon
        .title.roboto Funny
        .content Quick and simple as an agenda
      .border
      .feature-item.text-center.col-lg-3.handy
        .icon
        .title.roboto Handy
        .content Quick and simple as an agenda
.container-fluid.gcontainer
  .use-cases
    .header.text-center
      h2.title.roboto Use cases
      h4.subtitle.opensans Lorem ipsum spesa cena con amici test ciao mare lorem ipsum
    .content
      .use-case-item.dinner
        .container
          .col-lg-3.image.text-center
            .caption.text-center.roboto dinner
          .col-lg-9.code-editor
      .use-case-item.roommates
        .container
          .col-lg-3.image.text-center
            .caption.text-center.roboto room mates
          .col-lg-9.code-editor
      .use-case-item.personalexpenses
        .container
          .col-lg-3.image.text-center
            .caption.text-center.roboto personal expenses
          .col-lg-9.code-editor
  .footer

