.graph(paths-pie="pie")
  | {{pie}}
  svg(ng-attr-width="300",
    ng-attr-height="300", 
    ng-attr-transform="translate(150, 150)")
      path(ng-repeat="curve in curves", 
        ng-attr-d="{{curve._sector}}",
        stroke="white")
